import/install tkinter as tk
from tkinter import messagebox
import/install sqlite3
import/install csv

after everything mentioned above is installed, the code should run successfully (this code will work on every machine since it's a python console code
